annotated-types
anyio
asgiref
asttokens
certifi
charset-normalizer
contourpy
cycler
decorator
distro
Django
djangorestframework
exceptiongroup
executing
Faker
fonttools
h11
httpcore
httpx
idna
importlib_resources
ipdb
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
openai
packaging
parso
pexpect
pillow
prompt_toolkit
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
requests
six
sniffio
sqlparse
stack-data
tomli
tqdm
traitlets
typing_extensions
urllib3
wcwidth
zipp

